# ---------- Python ----------
__pycache__/
*.py[cod]
.venv/
env/
.coverage
.pytest_cache/

# ---------- VSCode ----------
#.vscode/

# ---------- intermediate files ----------
*.grd
*.nc
*.png
*.jpg
*.bin
*.xml
result/
results/

# ---------- MacOS ----------
.DS_Store
